<div class="container bg-light">

  <div class="row">
    <div class="col-sm-8">
      <h4>Paradas com motivo não identificado</h4>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">id</th>
            <th scope="col">Inicio</th>
            <th scope="col">Fim</th>
            <th scope="col">Duração</th>
            <th scope="col">Atribuir Motivo</th>
          </tr>
        </thead>
        <tbody>
          {{#each paradas}}
          <tr>
            <th scope="row">{{id}}</th>
            <td>{{inicio}}</td>
            <td>{{fim}}</td>
            <td>{{duracao}}</td>
            <td style='width: 40px'>
              <button type="button" id="{{id}}" class="btn btn-light btn-selecionar">
                <img src="/bootstrap/icons/circle.svg" id="icon_block_{{id}}" alt="Selecionar" width="24" height="24"
                  title="Selecionar" style="display: block;">
                <img src="/bootstrap/icons/check-circle.svg" id="icon_none_{{id}}" alt="Selecionar" width="24"
                  height="24" title="Selecionar" style="display: none;">
              </button>
            </td>
          </tr>
          {{else}}
          <tr>
            <th scope="row">-</th>
            <td>-</td>
            <td>-</td>
            <td>-</td>
          </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
    <div class="col-sm-4 ">
      <!-- Formulário Atribuição de Motivo da Parada-->
      <div class="shadow p-3 mb-5 mt-4 bg-white rounded ">
        <h4>Selecione um motivo:</h4>
        <form class="m-2" action="/paradas/atribuir_motivo" method="POST">
          <div class="form-group">

            <select class="form-control" name="motivo" id="formAtribuirMotivo">
              {{#each motivos}}
              <option>{{descricao}}</option>
              {{/each}}
            </select>
          </div>
          <input type="text" id="parada" name="parada" style="display: none;" value="">
          <button type="submit" class="btn btn-primary btnAtribuir">Atribuir</button>
          <a href="/paradas">
            <button type="button" class="btn btn-secondary">Cancelar</button>
          </a>
      </div>
      </form>
    </div>
  </div>
</div>

<script>
  /*
      Funcionalidade 
  */
  //referência o input do form de Atribuição do Motivo
  var inputIdParada = document.getElementById('parada')

  //busca todos os botões pela classe
  var x = document.getElementsByClassName('btn-selecionar')

  //Laço para buscar o ID de cada botão
  for (i = 0; i < x.length; i++) {
    var btn = x[i].id
    atribuirEvento(btn)
  }

  //Função para atribuir o evento de click em todos os botões
  function atribuirEvento(id) {
    document.getElementById(id).addEventListener('click', e => {
      inputIdParada.value = id
      let idBlock = `icon_block_${id}`
      let idNone = `icon_none_${id}`

      document.getElementById(idBlock).style.display = "none"
      document.getElementById(idNone).style.display = "block"
    })
  }

  //Confirmação de envio

</script>