<div class="container bg-light">

  <div class="row">
    <div class="col-sm-12">
      <h4>Paradas com motivo não identificado</h4>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">id</th>
            <th scope="col">Inicio</th>
            <th scope="col">Fim</th>
            <th scope="col">Duração</th>
            <th scope="col">Atribuir Motivo</th>
          </tr>
        </thead>
        <tbody>
          {{#each paradas}}
          <tr>
            <th scope="row">{{id}}</th>
            <td>{{inicio}}</td>
            <td>{{fim}}</td>
            <td>{{duracao}}</td>
            <td>
              <form class="form-inline" action="/paradas/atribuir_motivo/{{id}}">
                <div class="form-group mx-sm-3 mb-2">
                  <select class="form-control" name="motivo" id="formAtribuirMotivo">
                    {{#each ../motivos}}
                    <option value="{{id}}">{{descricao}}</option>
                    {{/each}}
                  </select>
                </div>
                <button type="submit" class="btn btn-primary mb-2">Atribuir</button>
              </form>
            </td>
          </tr>
          {{else}}
          <tr>
            <th scope="row">-</th>
            <td>-</td>
            <td>-</td>
            <td>-</td>
          </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
  </div>
</div>