<div class="container bg-light">

  <div class="row">
    <div class="col-sm-8">
      <h2>Relatórios de Paradas</h2>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">id</th>
            <th scope="col">Produção</th>
            <th scope="col">Inico</th>
            <th scope="col">Fim</th>
            <th scope="col">Duração</th>
            <th scope="col">Motivo</th>
          </tr>
        </thead>
        <tbody>
          {{#each paradas}}
          <tr>
            <th scope="row">{{id}}</th>
            <td>{{producao}}</td>
            <td>{{inicio}}</td>
            <td>{{fim}}</td>
            <td>{{duracao}}</td>
            <td>{{motivo}}</td>
          </tr>
          {{else}}
          <tr>
            <th scope="row">-</th>
            <td>-</td>
            <td>-</td>
            <td>-</td>
          </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
    <div class="col-sm-4 ">
      <!-- Formulário de consulta-->
      <div class="shadow p-3 mb-5 mt-4 bg-white rounded">
        <h4>Consulta de Cadastro de Paradas:</h4>
        <form class="m-2" id="formConsulta" method="GET">
          <div class="form-group">
            <label>Cadastrado no período inicial entre:</label>
            <input type="date" class="form-control" name="start">
          </div>
          <div class="form-group">
            <input type="date" class="form-control" name="end">
          </div>
          <div class="form-group">
            <label>Producao</label>
            <input type="number" class="form-control" name="producao">
          </div>
          <div class="form-group">
            <label>Motivo</label>
            <input type="text" class="form-control" name="motivo" placeholder="Digite o motivo">
          </div>
          <button type="submit" class="btn btn-primary">Consultar</button>
          <button type="reset" class="btn btn-secondary">Cancelar</button>
      </div>
      </form>
      <a href="/paradas/relatorio">
        <button type="button" id="printRelatorio" class="btn btn-secondary">Imprimir Relatório</button>
      </a>
    </div>
  </div>
</div>
</div>