<div class="container bg-light">

  <div class="row">
    <div class="col-sm-8">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">id</th>
            <th scope="col">Data</th>
            <th scope="col">Inicio</th>
            <th scope="col">Lote</th>
            <th scope="col">Produto</th>
            <th scope="col">Planejado</th>

          </tr>
        </thead>
        <tbody>
          <tr>
            {{#each producao}}
            <th scope="row">{{id}}</th>
            <td>{{data}}</td>
            <td>{{hora}}</td>
            <td>{{lote}}</td>
            <td>{{produto_id}}</td>
            <td>{{qtd_planejada}} und</td>

            {{/each}}
          </tr>
        </tbody>
      </table>
    </div>

    <div class="col-sm-4 ">
      <div class="shadow p-3 mb-5 mt-4 bg-white rounded">
        <h4>Atribuir pausas a produção:</h4>
        {{#each pausas}}
        <div class="card m-2">
          <div class="card-body">
            <h4 class="card-title">{{nome}}</h4>
            <p class="card-text">
              das {{inicio}} a {{fim}}
              com duração de {{duracao}}
            </p>
            <a href="./{{id}}" class="btn btn-primary">Atribuir</a>
          </div>
        </div>
        {{/each}}
      </div>
    </div>
  </div>
</div>