<div class="container bg-light">

  <div class="row">
    <div class="col-sm-8">
      <h2>Relatórios de Produção</h2>
      {{#if query}}
      <p>Produções de {{query.start}}, até {{query.end}}, com status {{query.status}}, incluindo {{query.ativo}}</p>
      {{/if}}
      <table class="table" id="tabela">
        <thead>
          <tr>
            <th scope="col">id</th>
            <th scope="col">Data de Inicio</th>
            <th scope="col">Lote</th>
            <th scope="col">Produto</th>
            <th scope="col">Planejado</th>
            <th scope="col">Produzido</th>
            <th scope="col">Defeito</th>
          </tr>
        </thead>
        <tbody>
          {{#each producoes}}
          <tr>
            <th scope="row">{{id}}</th>
            <td>{{data}}</td>
            <td>{{lote}}</td>
            <td>{{produto_id}}</td>
            <td>{{qtd_planejada}}</td>
            <td>{{qtd_produzida}}</td>
            <td>{{qtd_defeito}}</td>
          </tr>
          {{else}}
          <tr>
            <th scope="row">-</th>
            <td>-</td>
            <td>-</td>
            <td>-</td>
          </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
    <div class="col-sm-4 ">
      <!-- Formulário de consulta-->
      <div class="shadow p-3 mb-5 mt-4 bg-white rounded">
        <h4>Consulta de Produções:</h4>
        <form class="m-2" action="/producao/relatorios" method="GET">
          <div class="form-group">
            <label>Período iniciando em:</label>
            <input type="date" class="form-control" name="start">
          </div>
          <div class="form-group">
            <label>Período finalizando em:</label>
            <input type="date" class="form-control" name="end">
          </div>
          <label>Status da produção:</label>
          <div class="form-check">
            <input type="radio" name="status" value="planejada">
            <label> Planejada </label>
          </div>
          <div class="form-check">
            <input type="radio" name="status" value="finalizada">
            <label> Finalizada </label>
          </div>
          <div class="form-check">
            <input type="radio" name="status" value="executando">
            <label> Em Execução </label>
          </div>
          <label>Incluir:</label>
          <div class="form-check">
            <input type="radio" name="ativo" value="true">
            <label> Apenas produções ativas </label>
          </div>
          <div class="form-check">
            <input type="radio" name="ativo" value="false">
            <label> Apenas produções desativadas </label>
          </div>

          <button type="submit" class="btn btn-primary">Consultar</button>
          <button type="reset" class="btn btn-secondary">Cancelar</button>
      </div>
      </form>
      <a href="/producao/relatorio">
        <button type="button" id="printRelatorio" class="btn btn-secondary">Imprimir Relatório</button>
      </a>
    </div>
  </div>
</div>
</div>

<script>
  let btn = document.getElementById('printRelatorio')
  btn.addEventListener('click', () => {
    console.log("PRINT PDF")
  })
</script>