<div class="container bg-light">

  <div class="row">
    <div class="col-sm-8">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">id</th>
            <th scope="col">Nome</th>
            <th scope="col">Inicio</th>
            <th scope="col">Fim</th>
            <th scope="col">Duração</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            {{#each pausas}}
            <th scope="row">{{id}}</th>
            <td>{{nome}}</td>
            <td>{{inicio}}</td>
            <td>{{fim}}</td>
            <td>{{duracao}}</td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="col-sm-4 ">
      <!-- Formulário de edição-->
      <div class="shadow p-3 mb-5 mt-4 bg-white rounded ">
        <h4>Editar Pausa:</h4>
        <form class="m-2" action="/pausas/editar/{{id}}" method="POST">
          <div class="form-group">
            <label for="nome" id="nome">Nome</label>
            <input type="text" class="form-control" id="nome" name="nome" value="{{nome}}">
          </div>
          <div class="form-group">
            <label for="inicio" id="inicio">Inicio</label>
            <input type="time" class="form-control" id="inicio" name="inicio" value="{{inicio}}">
          </div>
          <div class="form-group">
            <label for="fim" id="fim">Fim</label>
            <input type="time" class="form-control" id="fim" name="fim" value="{{fim}}">
          </div>
          <button type="submit" class="btn btn-primary">Salvar</button>
          <a href="/pausas">
            <button type="button" class="btn btn-secondary">Cancelar</button>
          </a>
      </div>
      {{/each}}
      </form>
    </div>
  </div>
</div>
</div>